

@media (min-width: 60rem) {
  .eDSmX {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
@media (min-width: 48rem) {
  .eDSmX {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 30rem) {
  .eDSmX {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 20rem) {
  .eDSmX {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 60rem) {
  .eDSmX {
    max-width: calc(66rem);
  }
}
@media (min-width: 48rem) {
  .eDSmX {
    max-width: 100%;
  }
}
@media (min-width: 30rem) {
  .eDSmX {
    max-width: 100%;
  }
}
@media (min-width: 20rem) {
  .eDSmX {
    max-width: 100%;
  }
}

.eDSmX {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(66rem);
}

.font-weight-bold{
  font-weight: bold;
}

.font-weight-bolder{
  font-weight: bolder;
}

.custom-title{
  font-size: 3rem;
  line-height: 3.625rem;
}

@media (min-width: 60rem) {
  .custom-title {
    font-size: 3rem;
    line-height: 3.625rem;
  }
}

.form-input{
  height: 42px;
  border: solid 1px #e8e8e8;
  line-height: 40px;
  font: 400 1rem / 1.5rem Inter, "Helvetica Neue", Arial, sans-serif;
  padding: 0.75rem;
}

.input-area{
  background: #FFFFFF;
  border: solid 1px #787878;
  border-radius: 5px;
  height: 42px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.35s;
}

.hZTngD {
  position: absolute;
  top: 0.125rem;
  left: calc(7rem);
  right: 0px;
  pointer-events: none;
  user-select: none;
  max-width: 20rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: calc(1px + 0.5rem) 1rem;
  overflow: hidden;
  color: rgb(38, 38, 39);
}

.p-small{
  font-size: 0.875rem;
}

.signup-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.signup-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.description {
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.description h3,
.description p {
  margin: 0;
}

.trades{
  line-height: 1.625rem;
}

.trades-card{
  display: block;
  height: 100%;
  padding: 1.5rem 0.75rem;
  border-radius: 15px;
  background-color: rgb(242, 244, 248);
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.625rem;
  margin: 1rem 0px 0px;
  backface-visibility: hidden;
  transform: translateZ(0px);
  overflow-wrap: anywhere;
  hyphens: auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

